<!doctype html>
<html lang="tr">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/offers.css">
    <link rel="stylesheet" href="/css/footer.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easyzoom@2.5.3/css/easyzoom.css" />
    <script src="https://cdn.jsdelivr.net/npm/easyzoom@2.5.3/src/easyzoom.js"></script>
</head>
<body>

<div class="container mt-5 mb-5">
    <%- include ('../partails/navbar') -%>
    <div class="row">
        <div class="col-md-6 mb-5  d-flex justify-content-center"> <h1>İlanım</h1></div>
        <div class="col-md-12 d-flex justify-content-center"><img src="<%= post.images[0].url %> " class="img-fluid " alt="Responsive image"></div>
        <div class="col-md-12 d-flex justify-content-center"><h2><b><%= post.model %> </b></h2></div>
        <div class="col-md-12 d-flex justify-content-center"><p style="font-weight: bold; color: darkgoldenrod; font-size: 1.8rem;"><%= post.carState %></p></div>
        <div class="col-md-12 d-flex justify-content-center"><p style="font-weight: bold; color:darkgray; font-size: 1.5rem;"><%= post.message %></p></div><p>
        <div class="d-flex justify-content-center mt-5  "><a class=" btn btn-primary btn-lg" href="/post/<%= post._id %> ">İlan Detayını Gör</a></div>

    </div>
    <div class="d-flex justify-content-center row mt-5">
        <div class="col-md-8">
            <h2>Teklifler</h2>
        </div>
        <% offers.forEach( offer => { %>
            <div class="col-md-8">
                <div class="p-2">
                    <div class="d-flex flex-row align-items-center pull-right"><span class="mr1">Göre Sırala:</span><span class="mr-1 font-weight-bold">Mağaza Puanı</span><i class="fa fa-angle-down"></i></div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
                    <div class="mr-1"><img class="rounded" src="<%= offer.createdOffer.image.url %> " width="70"></div>
                    <div class="d-flex flex-column align-items-center product-details"><span class="font-weight-bold"><h4><b> <%= offer.createdOffer.storeName %>  </b></h4></span>
                    </div>
                    <div class="d-flex flex-row align-items-center qty">
                        <h5 class="text-grey mt-1 mr-1 ml-1"> <div class="col-md-12 d-flex justify-content-center"> <a href="/store/<%= offer.createdOffer._id %>" class="btn btn-primary"> Mağazayı Git </a> </div></h5>
                    </div>
                    
                    <div>
                        <h4 class="text-dark"><%= offer.price %> TL</h4>
                    </div>
                    <div class="d-flex align-items-center"><i class="fa fa-trash mb-1 text-danger" title="Teklifi Sil"></i></div>
                </div>
            </div>
        <% }) %> 
    </div>

    <div class="row mt-5 mb-5">
        <div class="p-2">
            <h3>Diğer İlanlarım</h3></div>
        <div class="col-md-12 col-center">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">

                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>

                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="https://iasbh.tmgrup.com.tr/789c24/0/0/0/0/0/0?u=https://isbh.tmgrup.com.tr/sb/album/2020/12/25/1608899300831.jpg&mw=600&l=1" class="img-responsive" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Mercedes-Benz</h4>
                                        <p>Hasarlı / Ön Tampon</p>
                                        <a href="#" class="btn btn-primary">İlanı Gör <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="https://iasbh.tmgrup.com.tr/789c24/0/0/0/0/0/0?u=https://isbh.tmgrup.com.tr/sb/album/2020/12/25/1608899300831.jpg&mw=600&l=1" class="img-responsive" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Mercedes-Benz</h4>
                                        <p>Hasarlı / Şanzıman</p>
                                        <a href="#" class="btn btn-primary">İlanı Gör <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="https://iasbh.tmgrup.com.tr/789c24/0/0/0/0/0/0?u=https://isbh.tmgrup.com.tr/sb/album/2020/12/25/1608899300831.jpg&mw=600&l=1" class="img-responsive" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Mercedes-Benz</h4>
                                        <p>Modifiye / Kaplama</p>
                                        <a href="#" class="btn btn-primary">İlanı Gör <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="https://arbstorage.mncdn.com/ilanfotograflari/2020/12/10/16165379/ec52ff98-cd19-4425-a61d-a3c0a942747c_image_for_silan_16165379_580x435.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Volkswagen-Polo</h4>
                                        <p>Hasarlı-Sağ arka kapı / Sağ arka çamurluk</p>
                                        <a href="#" class="btn btn-primary">İlanı Gör <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="https://arbstorage.mncdn.com/ilanfotograflari/2020/12/10/16165379/ec52ff98-cd19-4425-a61d-a3c0a942747c_image_for_silan_16165379_580x435.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Volkswagen-Polo</h4>
                                        <p>Modifiye-Boya</p>
                                        <a href="#" class="btn btn-primary">İlanı Gör <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="https://arbstorage.mncdn.com/ilanfotograflari/2020/12/10/16165379/ec52ff98-cd19-4425-a61d-a3c0a942747c_image_for_silan_16165379_580x435.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Volkswagen-Polo</h4>
                                        <p>Modifiye-Egzoz</p>
                                        <a href="#" class="btn btn-primary">İlanı Gör<i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
<%- include ('../partails/footer') -%>