<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js ie7 lt-ie8 lt-ie9"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->


<head>
    <meta charset="utf-8">
    <title>ATU</title>
    <meta name="description" content="ATU">
    <link rel="stylesheet" href="/adverts/css/main.css">
    <link rel="stylesheet" href="/adverts/css/uniform.default.css">
    <link rel="stylesheet" href="/adverts/css/prettyPhoto.css">
    <script src="/adverts/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="/adverts/js/vendor/jquery-1.8.2.min.js"></script>
    <script src="/adverts/js/vendor/selectivizr.js"></script>
    <script src="/dverts/js/vendor/PIE.js"></script>
    <script src="/adverts/js/plugins/jquery.placeholder.min.js"></script>
    <script src="/adverts/js/plugins/jquery.uniform.min.js"></script>
    <script src="/adverts/js/plugins/jquery.flexslider-min.js"></script>
    <script src="/adverts/js/plugins/jquery.carouFredSel-6.1.0-packed.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="/adverts/js/plugins/jquery.prettyPhoto.js"></script>
    <script src="/adverts/js/plugins/jquery.countdown.js"></script>

    <script src="/adverts/js/plugins.js"></script>
    <script src="/adverts/js/main.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<header>
    
    <div class="content-holder">
        <div class="layer-one">
            <div class="page-titles">
                <h1><a href="/">ATU</a></h1>
            </div>
            <div class="header-buttons">
                <a href="/stores" class="add-an-offer rounded-link-box"><span class="box-content">Mağazalar</span></a>
                <a href="/posts" class="add-an-offer rounded-link-box"><span class="box-content">İlanlar</span></a>
                <a href="/login" class="add-an-offer rounded-link-box"><span class="box-content"><strong class="plus-sign">Üye Girişi</strong></span></a>
            </div>
        </div>
    </div>

</header>

<div id="page-content">

    <section id="car-pagination">
        <div class="content-holder">
            <div class="page-main-heading extra-space">
                <div class="heading-location">
                    <h2><span class="bold">İlanlar</span></h2>
                </div>

            </div>

            <nav class="default-tabs split-tabs">
                <ul>
                    <li class="current-item"><a href="#">Tüm İlanlar</a></li>
                    <li><a href="/addpost">Yeni İlan Oluştur</a></li>
                </ul>
            </nav>

            <div class="view-select-tabs">
                <a href="#" id="list-view"><span>List View</span></a>
                <a href="#" id="grid-view" class="current"><span>Grid View</span></a>
            </div>
        </div>
    </section><!--#car-pagination -->

    <section id="search-list">
        <div class="content-holder">
            <div class="full-width">

                <div class="one-half col-241 search-area">
                    <form id="search-filters" action="#">
                        <fieldset class="grey-corner-box">
                            <legend><span class="bold">Filtreleme</span></legend>
                            <ul>
                                <li>
                                    <label for="manufacturer">Kimden:</label>
                                    <select id="manufacturer">
                                        <option selected="selected">Seçenekler</option>
                                        <option value="option1">Sahibinden</option>
                                        <option value="option2">Mağazadan</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="model">Model:</label>
                                    <select id="model">
                                        <option selected="selected">Seçenekler</option>
                                        <option value="option5">Tofaş</option>
                                        <option value="option1">BMW</option>
                                        <option value="option2">Mercedes</option>
                                        <option value="option3">Audi</option>
                                        <option value="option4">Renault</option>
                                    </select>
                                </li>
                                <li class="select-two">
                                    <div>
                                        <label for="min-price">Minimum Tutar:</label>
                                        <select id="min-price">
                                            <option selected="selected">Seçenekler</option>
                                            <option value="option1">0-100</option>
                                            <option value="option2">100-500</option>
                                            <option value="option3">500-1000</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="max-price">Maksimum Tutar:</label>
                                        <select id="max-price">
                                            <option selected="selected">Seçenekler</option>
                                            <option value="option1">1000-2000</option>
                                            <option value="option2">2000-5000</option>
                                            <option value="option3">5000-....</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <label for="engine">Motor:</label>
                                    <select id="engine">
                                        <option selected="selected">Seçenekler</option>
                                        <option value="option1">1.4</option>
                                        <option value="option2">1.5</option>
                                        <option value="option3">1.6</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="transmission">Vites:</label>
                                    <select id="transmission">
                                        <option selected="selected">Seçenekler</option>
                                        <option value="option1">Manuel</option>
                                        <option value="option2">Otomatik</option>
                                        <option value="option3">Yarı Otomatik</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="fuel-type">Yakıt Türü:</label>
                                    <select id="fuel-type">
                                        <option selected="selected">Seçenekler</option>
                                        <option value="option1">Benzin</option>
                                        <option value="option2">Dizel</option>
                                        <option value="option3">Elektrik</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="body-type">Kasa Tipi:</label>
                                    <select id="body-type">
                                        <option selected="selected">Seçenekler</option>
                                        <option value="option1">Sedan</option>
                                        <option value="option2">Hatchback</option>
                                        <option value="option3">Wagon</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="color">Renk:</label>
                                    <select id="color">
                                        <option selected="selected">Seçenekler</option>
                                        <option value="option1">Siyah</option>
                                        <option value="option2">Beyaz</option>
                                        <option value="option3">Gri</option>
                                    </select>
                                </li>
                                <li class="select-two">
                                    <div>
                                        <label for="min-year">Minimum Yıl:</label>
                                        <select id="min-year">
                                            <option selected="selected">Seçenekler</option>
                                            <option value="option1">1950</option>
                                            <option value="option2">2000</option>
                                            <option value="option3">2010</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="max-year">Maksimum Yıl:</label>
                                        <select id="max-year">
                                            <option selected="selected">Seçenekler</option>
                                            <option value="option1">2000</option>
                                            <option value="option2">2010</option>
                                            <option value="option3">2021</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <label for="kilometers-two">Kilometre:</label>
                                    <select id="kilometers-two">
                                        <option selected="selected">Seçenekler</option>
                                        <option value="option1">0</option>
                                        <option value="option2">50.000</option>
                                        <option value="option3">100.000</option>
                                    </select>
                                </li>
                                <li>
                                    <!-- add this to general styles -->
                                    <div class="search-button">
                                        <input type="submit" value="Arama" />
                                    </div>
                                </li>
                            </ul>
                        </fieldset>
                    </form>
                </div>

                <div class="results-list one-half col-701">
                    <div class="sort-view layer-one">

                        <div id="sort-by">
                            <select name="sort-by">
                                <option selected="selected">Sırala</option>
                                <option>Tarih</option>
                                <option>Fiyat</option>
                                <option>Görüntülenme</option>
                            </select>
                        </div>
                        <div id="view-on-page">
                            <select name="view-on-page">
                                <option selected="selected">İlan Adedi</option>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                            </select>
                        </div>

                        <div class="pagination">
                            <a href="#" class="current-item"><span>1</span></a>
                            <a href="#"><span>2</span></a>
                            <a href="#"><span>3</span></a>
                            <span class="space-between">...</span>
                            <a href="#"><span>8</span></a>
                            <a href="#" class="last-button">İleri</a>
                        </div>
                    </div>

                    <div class="layer-two">

                        <div id="cars-list" class="grid-view list-content">
                            <ul class="offer-small">
                                <!-- Car post -->
                                <% posts.forEach( post => { %>
                                    <li>
                                        <a href="/post/<%= post._id %> " class="item-link">
                                            <img src="<%= post.images[0].url %>" alt="offer car" />
                                            <div class="entry-label">
                                                <h4 class="car-title"><%= post.model %> </h4>
                                                <span class="price-tag"><%= post.carState %></span>
                                                <span class="location-car">Konum: Türkiye, <%= post.city %> </span>
                                            </div>
                                            
                                            <div class="entry-overlay">
                                                <ul class="car-list-details item-specs">
                                                    <li><%= post.fuelType %> </li>
                                                    <li><%= post.gear %></li>
                                                    <li><%= post.motor %></li>
                                                    <li><%= post.carYear %></li>
                                                </ul>
                                            </div>
                                            
                                        </a>
                                    </li>
                                <% }); %> 
                            </ul>
                        </div>

                    </div><!--.layer-two-->

                    <div class="layer-three">
                        <div class="pagination">
                            <a href="#" class="current-item"><span>1</span></a>
                            <a href="#"><span>2</span></a>
                            <a href="#"><span>3</span></a>
                            <span class="space-between">...</span>
                            <a href="#"><span>8</span></a>
                            <a href="#" class="last-button">İleri</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section><!--#search-list-->

</div><!--#page-content-->

</body>


</html>
